.sidelogo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar {
    width: 260px;
    height: 100vh;
    box-shadow: 1px 0 30px 0px rgba(0, 0, 0, 0.02);
    background-color:white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 2px solid #F1F1F1;

}
.line{
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin: 16px 0;
}
.sidebar label{
    font-size: 14px;
    color: #9B9B9B;
    margin-bottom: 10px;
}
.sidebar .menu-list li{
list-style: none;
display: flex;
align-items: center;
font-size: 16px;
gap: 6px;
padding: 8px 10px;
margin-bottom: 5px;
border-radius:var(--small-radius) ;
font-weight: 600;
}
.sidebar .menu-list li:hover{
    background-color: var(--hover-yellow);
    cursor: pointer;
}
.menu-list .this-page{
    color:var(--tickio-yellow);
    background-color: var(--hover-yellow);
}
.sidebar .workspaces-header{
    display: flex;
    justify-content: space-between;
}
.sidebar .workspaces-header .options{
   display: flex;
   gap: 6px;
}
.sidebar .workspaces-header .options svg{
    cursor: pointer;
}
.sidebar .workspaces-list input{
    border: 2px solid var(--hover-grey);
    outline: none;
    background-color: var(--hover-grey);
    width: 100%;
    padding: 8px 10px;
    border-radius: var(--small-radius);
    transition: 0.2s ease;
    margin: 6px 0;
}
.sidebar .workspaces-list input:hover{
   border: 2px solid var(--stroke-yellow);
}
.sidebar .workspaces-list li{
    list-style: none;
display: flex;
align-items: center;
font-size: 15px;
gap: 8px;
padding: 8px 10px;
margin-bottom: 5px;
border-radius:var(--small-radius) ;
font-weight: 500;
color: var(--text-dark);
    border-left: 3px solid white;

}
.sidebar .workspaces-list li:hover,.sidebar .workspaces-list li:focus{
    background-color: var(--hover-grey);
    cursor: pointer;
    border-left: 3px solid var(--tickio-yellow);
}
.search{
    position: relative;
    transition: 0.3s ease-in-out;
}
.search svg{
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}