.top-bar{
    background-color: white;
    height: 74px;
    position: fixed;
    top: 0;
    left: 260px;
    right: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid #F1F1F1;
}
.top-bar h1{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-dark);
}