.top-dashboard {
    background-color: white;
    border-radius:4px;
    padding: 10px 20px;
    box-shadow: 0 1px 10px 0 rgba(255, 183, 3, 0.2);
    display: flex;
    gap:20px;
    align-items: center;
}
.stickynote{
    width: 50px;
    height: 50px;
    
}
.top-dashboard .welcome-message h1 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dark);
}
.top-dashboard .welcome-message p {
    font-size: 14px;
    color: var(--text-light);
}